In [1]:
import json
from Config import*
import os
import datetime

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [12]:
coin_name = "ETH-USD"
training_window = 180
labeling_window = 60
feature_window = 30
col = ['time', 'low', 'high', 'open', 'close', 'volume']

In [3]:
def load_data(coin_name):    
    ordered_data = []
    
    for month in HISTORIC_MONTHS[coin_name]:
        print(">> Loading month: ",month)
        try:
            with open(f'{RAWDATASET_DIR}{coin_name}/{GRANULARITY}/{month}_{coin_name}.json',) as json_file:
                raw_data = json.load(json_file)

            for hour_data in raw_data:
                if len(hour_data)!=0:
                    for minute_data in hour_data:
                        ordered_data.append(minute_data)
        except:
            print(">> Missing ",month," data.")
    return ordered_data

In [13]:
ordered_data = load_data(coin_name)

>> Loading month:  2016_07
>> Loading month:  2016_08
>> Loading month:  2016_09
>> Loading month:  2016_10
>> Loading month:  2016_11
>> Loading month:  2016_12
>> Loading month:  2017_01
>> Loading month:  2017_02
>> Loading month:  2017_03
>> Loading month:  2017_04
>> Loading month:  2017_05
>> Loading month:  2017_06
>> Loading month:  2017_07
>> Loading month:  2017_08
>> Loading month:  2017_09
>> Loading month:  2017_10
>> Loading month:  2017_11
>> Loading month:  2017_12
>> Loading month:  2018_01
>> Loading month:  2018_02
>> Loading month:  2018_03
>> Loading month:  2018_04
>> Loading month:  2018_05
>> Loading month:  2018_06
>> Loading month:  2018_07
>> Loading month:  2018_08
>> Loading month:  2018_09
>> Loading month:  2018_10
>> Loading month:  2018_11
>> Loading month:  2018_12
>> Loading month:  2019_01
>> Loading month:  2019_02
>> Loading month:  2019_03
>> Loading month:  2019_04
>> Loading month:  2019_05
>> Loading month:  2019_06
>> Loading month:  2019_07
>> Loading month:  2019_08
>> Loading month:  2019_09
>> Loading month:  2019_10
>> Loading month:  2019_11
>> Loading month:  2019_12
>> Loading month:  2020_01
>> Loading month:  2020_02
>> Loading month:  2020_03
>> Loading month:  2020_04
>> Loading month:  2020_05
>> Loading month:  2020_06
>> Loading month:  2020_07
>> Loading month:  2020_08
>> Loading month:  2020_09
>> Loading month:  2020_10
>> Loading month:  2020_11
>> Loading month:  2020_12
>> Loading month:  2021_01
>> Loading month:  2021_02
>> Loading month:  2021_03
>> Loading month:  2021_04
>> Loading month:  2021_05
>> Loading month:  2021_06

In [14]:
df_data = pd.DataFrame(ordered_data,columns=col)
print(df_data[:50])

          time    low   high   open  close       volume
0   1467331380  12.48  12.48  12.48  12.48     5.000000
1   1467331440  12.48  12.48  12.48  12.48     0.037791
2   1467331860  12.47  12.47  12.47  12.47     3.725791
3   1467331920  12.46  12.46  12.46  12.46     1.000000
4   1467332340  12.48  12.48  12.48  12.48    30.000000
5   1467332640  12.45  12.47  12.47  12.45     9.600000
6   1467333600  12.47  12.47  12.47  12.47     7.995260
7   1467333720  12.45  12.45  12.45  12.45   140.000000
8   1467334320  12.42  12.42  12.42  12.42    94.433135
9   1467334440  12.43  12.43  12.43  12.43     0.100000
10  1467335340  12.40  12.54  12.40  12.54  1365.949011
11  1467335880  12.50  12.53  12.50  12.53     0.040000
12  1467339420  12.53  12.53  12.53  12.53     0.003183
13  1467340020  12.51  12.51  12.51  12.51    15.939392
14  1467340140  12.51  12.53  12.51  12.53    24.000000
15  1467342480  12.46  12.50  12.50  12.46     0.800100
16  1467342600  12.46  12.46  12.46  12.46    35.763522
17  1467342660  12.46  12.46  12.46  12.46    39.470480
18  1467342720  12.45  12.46  12.46  12.45    73.282763
19  1467343140  12.50  12.53  12.50  12.53    11.940251
20  1467343380  12.53  12.54  12.53  12.54   318.267793
21  1467344040  12.50  12.50  12.50  12.50    37.799978
22  1467344280  12.50  12.50  12.50  12.50     0.370000
23  1467344340  12.46  12.50  12.50  12.46    99.123538
24  1467344400  12.44  12.45  12.45  12.44   227.999647
25  1467345420  12.44  12.44  12.44  12.44    50.000000
26  1467347820  12.25  12.44  12.44  12.25  3133.035880
27  1467348300  12.45  12.50  12.45  12.50     3.916275
28  1467348900  12.40  12.40  12.40  12.40     1.373294
29  1467352140  12.36  12.45  12.36  12.45     0.835348
30  1467354360  12.45  12.49  12.45  12.49   119.500000
31  1467354480  12.35  12.41  12.41  12.35    49.990475
32  1467355380  12.43  12.43  12.43  12.43    19.800000
33  1467355800  12.35  12.35  12.35  12.35    39.205602
34  1467356400  12.34  12.35  12.35  12.34    51.297369
35  1467356460  12.34  12.34  12.34  12.34    61.664715
36  1467356520  12.33  12.34  12.34  12.33    23.644571
37  1467356580  12.33  12.33  12.33  12.33     0.871901
38  1467358020  12.40  12.40  12.40  12.40     0.289454
39  1467358320  12.33  12.33  12.33  12.33     0.669075
40  1467358440  12.33  12.33  12.33  12.33    10.000007
41  1467358500  12.33  12.33  12.33  12.33    10.000022
42  1467358560  12.33  12.33  12.33  12.33     0.370000
43  1467358620  12.33  12.33  12.33  12.33     0.370000
44  1467358680  12.32  12.33  12.33  12.32    27.071263
45  1467358740  12.32  12.32  12.32  12.32    37.725000
46  1467358800  12.32  12.32  12.32  12.32     0.370000
47  1467358860  12.32  12.32  12.32  12.32     0.370000
48  1467358920  12.32  12.32  12.32  12.32     0.370000
49  1467358980  12.32  12.32  12.32  12.32     0.370000

In [15]:
df_data.to_csv(f"{coin_name}.csv", index=False)

In [16]:
rd_data = pd.read_csv(f'{coin_name}.csv')

In [17]:
rd_data

               time      low     high     open    close      volume
0        1467331380    12.48    12.48    12.48    12.48    5.000000
1        1467331440    12.48    12.48    12.48    12.48    0.037791
2        1467331860    12.47    12.47    12.47    12.47    3.725791
3        1467331920    12.46    12.46    12.46    12.46    1.000000
4        1467332340    12.48    12.48    12.48    12.48   30.000000
...             ...      ...      ...      ...      ...         ...
2445761  1625097300  2270.46  2273.73  2272.99  2271.49  142.388106
2445762  1625097360  2268.00  2272.41  2271.49  2272.06  211.124427
2445763  1625097420  2271.51  2275.81  2272.06  2273.54   60.946414
2445764  1625097480  2273.51  2276.48  2273.80  2275.67  149.293145
2445765  1625097540  2274.63  2276.99  2275.68  2276.72   57.239114

[2445766 rows x 6 columns]

In [ ]:
np_data = np.array(ordered_data)
np_data

In [ ]:
with open(f'{coin_name}_historic_data.json','w') as outfile:
    json.dump(ordered_data,outfile)

In [ ]:
ordered_data[:10]

In [ ]:
load_data=None
with open(f'{coin_name}_historic_data.json',) as infile:
    load_data = json.load(infile)
print(load_data[:50])

In [ ]:
for i in range(len(ordered_data)-1):
#     print(ordered_data[i])
    ordered_data[i+1].append(ordered_data[i][2]-ordered_data[i][1])

In [ ]:
# for i in range(len(df_data)):
#     df_data[i+1]['change'] = df_data[i]['high'] - df_data[i]['low']