In [1]:
import json
from Config import*
import os
import datetime

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [9]:
coin_name = "BTC-USD"
training_window = 180
labeling_window = 60
feature_window = 30
col = ['time', 'low', 'high', 'open', 'close', 'volume']

In [3]:
def load_data(coin_name):    
    ordered_data = []
    
    for month in HISTORIC_MONTHS[coin_name]:
        print(">> Loading month: ",month)
        try:
            with open(f'{RAWDATASET_DIR}{coin_name}/{GRANULARITY}/{month}_{coin_name}.json',) as json_file:
                raw_data = json.load(json_file)

            for hour_data in raw_data:
                if len(hour_data)!=0:
                    for minute_data in hour_data:
                        ordered_data.append(minute_data)
        except:
            print(">> Missing ",month," data.")
    return ordered_data

In [10]:
ordered_data = load_data(coin_name)

>> Loading month:  2015_08
>> Loading month:  2015_09
>> Loading month:  2015_10
>> Loading month:  2015_11
>> Loading month:  2015_12
>> Loading month:  2016_01
>> Loading month:  2016_02
>> Loading month:  2016_03
>> Loading month:  2016_04
>> Loading month:  2016_05
>> Loading month:  2016_06
>> Loading month:  2016_07
>> Loading month:  2016_08
>> Loading month:  2016_09
>> Loading month:  2016_10
>> Loading month:  2016_11
>> Loading month:  2016_12
>> Loading month:  2017_01
>> Loading month:  2017_02
>> Loading month:  2017_03
>> Loading month:  2017_04
>> Loading month:  2017_05
>> Loading month:  2017_06
>> Loading month:  2017_07
>> Loading month:  2017_08
>> Loading month:  2017_09
>> Loading month:  2017_10
>> Loading month:  2017_11
>> Loading month:  2017_12
>> Loading month:  2018_01
>> Loading month:  2018_02
>> Loading month:  2018_03
>> Loading month:  2018_04
>> Loading month:  2018_05
>> Loading month:  2018_06
>> Loading month:  2018_07
>> Loading month:  2018_08
>> Loading month:  2018_09
>> Loading month:  2018_10
>> Loading month:  2018_11
>> Loading month:  2018_12
>> Loading month:  2019_01
>> Loading month:  2019_02
>> Loading month:  2019_03
>> Loading month:  2019_04
>> Loading month:  2019_05
>> Loading month:  2019_06
>> Loading month:  2019_07
>> Loading month:  2019_08
>> Loading month:  2019_09
>> Loading month:  2019_10
>> Loading month:  2019_11
>> Loading month:  2019_12
>> Loading month:  2020_01
>> Loading month:  2020_02
>> Loading month:  2020_03
>> Loading month:  2020_04
>> Loading month:  2020_05
>> Loading month:  2020_06
>> Loading month:  2020_07
>> Loading month:  2020_08
>> Loading month:  2020_09
>> Loading month:  2020_10
>> Loading month:  2020_11
>> Loading month:  2020_12
>> Loading month:  2021_01
>> Loading month:  2021_02
>> Loading month:  2021_03
>> Loading month:  2021_04
>> Loading month:  2021_05
>> Loading month:  2021_06

In [11]:
df_data = pd.DataFrame(ordered_data,columns=col)
print(df_data[:50])

          time     low    high    open   close   volume
0   1438387200  284.89  285.25  285.20  284.89   6.2942
1   1438387260  284.82  285.30  285.08  284.82   3.0171
2   1438387320  285.13  285.39  285.18  285.39   4.3034
3   1438387380  285.28  285.28  285.28  285.28   0.1786
4   1438387440  285.23  285.25  285.25  285.25   1.1925
5   1438387500  285.22  285.26  285.22  285.26   1.5817
6   1438387560  285.23  285.23  285.23  285.23   0.1046
7   1438387620  285.23  285.23  285.23  285.23   0.2110
8   1438387680  285.24  285.24  285.24  285.24   0.1205
9   1438387740  285.22  285.23  285.22  285.23   1.0238
10  1438387860  284.97  285.22  285.22  284.97   0.9906
11  1438387920  285.20  285.20  285.20  285.20   0.8400
12  1438387980  285.06  285.13  285.12  285.07   4.4107
13  1438388040  284.87  285.10  284.98  285.10   1.4640
14  1438388100  285.10  285.11  285.10  285.11   2.8435
15  1438388160  285.12  285.29  285.12  285.27  16.7728
16  1438388220  285.26  285.29  285.26  285.29   2.2032
17  1438388280  285.30  285.30  285.30  285.30   0.1212
18  1438388340  285.32  285.49  285.32  285.48  15.0949
19  1438388400  285.43  285.45  285.45  285.43   1.4044
20  1438388460  285.39  285.41  285.41  285.39   0.4717
21  1438388580  285.16  285.17  285.16  285.17   1.0825
22  1438388640  285.18  285.25  285.18  285.25   6.0767
23  1438388700  285.00  285.19  285.18  285.00   6.2438
24  1438388760  285.18  285.19  285.18  285.19   0.3614
25  1438388820  285.11  285.15  285.15  285.11   3.9677
26  1438388880  285.08  285.11  285.11  285.08   4.7459
27  1438389000  285.00  285.07  285.00  285.07   0.5541
28  1438389060  285.06  285.07  285.07  285.06   1.6647
29  1438389120  285.06  285.07  285.07  285.06   0.8177
30  1438389180  285.04  285.05  285.05  285.04   2.3519
31  1438389240  285.04  285.07  285.04  285.07   4.4383
32  1438389300  285.05  285.06  285.06  285.06   1.5531
33  1438389360  285.03  285.06  285.06  285.03   0.1970
34  1438389420  285.05  285.08  285.06  285.05   5.7562
35  1438389480  285.08  285.49  285.08  285.49  12.9897
36  1438389540  285.41  285.42  285.41  285.42   0.6437
37  1438389600  285.20  285.30  285.30  285.20   0.0399
38  1438389660  285.34  285.41  285.34  285.41   3.8108
39  1438389720  285.45  285.45  285.45  285.45   0.6935
40  1438389780  285.45  285.48  285.45  285.48   1.6457
41  1438389840  285.48  285.49  285.48  285.49   3.0000
42  1438389900  284.93  285.45  285.19  285.45  17.3565
43  1438389960  285.44  285.44  285.44  285.44   4.0116
44  1438390020  285.15  285.44  285.17  285.44   1.9207
45  1438390080  285.43  285.44  285.43  285.44   0.8339
46  1438390140  285.44  285.44  285.44  285.44   1.0146
47  1438390200  285.44  285.48  285.44  285.48   0.2709
48  1438390260  285.49  285.50  285.49  285.50   4.6424
49  1438390320  285.51  285.54  285.51  285.54   0.7766

In [12]:
df_data.to_csv(f"{coin_name}.csv", index=False)

In [13]:
rd_data = pd.read_csv(f'{coin_name}.csv')

In [14]:
rd_data

               time       low      high      open     close     volume
0        1438387200    284.89    285.25    285.20    284.89   6.294200
1        1438387260    284.82    285.30    285.08    284.82   3.017100
2        1438387320    285.13    285.39    285.18    285.39   4.303400
3        1438387380    285.28    285.28    285.28    285.28   0.178600
4        1438387440    285.23    285.25    285.25    285.25   1.192500
...             ...       ...       ...       ...       ...        ...
3051759  1625097300  35010.73  35080.01  35070.00  35025.87  12.609129
3051760  1625097360  35017.61  35038.91  35025.87  35031.26   2.710589
3051761  1625097420  35023.21  35062.28  35026.00  35032.95   2.828373
3051762  1625097480  35034.26  35060.00  35038.19  35041.08   2.626429
3051763  1625097540  35040.00  35060.00  35041.79  35060.00   1.838386

[3051764 rows x 6 columns]

In [ ]:
np_data = np.array(ordered_data)
np_data

In [ ]:
with open(f'{coin_name}_historic_data.json','w') as outfile:
    json.dump(ordered_data,outfile)

In [ ]:
ordered_data[:10]

In [ ]:
load_data=None
with open(f'{coin_name}_historic_data.json',) as infile:
    load_data = json.load(infile)
print(load_data[:50])

In [ ]:
for i in range(len(ordered_data)-1):
#     print(ordered_data[i])
    ordered_data[i+1].append(ordered_data[i][2]-ordered_data[i][1])

In [ ]:
# for i in range(len(df_data)):
#     df_data[i+1]['change'] = df_data[i]['high'] - df_data[i]['low']